<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UpdateEmployee</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    </head>
    <body>
        <header th:replace="./fragments/headerAdmin :: header"></header>
        <div class="container-fluid h-100 bg-light text-dark">
            <div class="row justify-content-center align-items-center">
                <h1>Update Employee</h1>    
            </div>
            <hr/>
            <div class="row justify-content-center align-items-center h-100">
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <form th:object="${employeeUp}" th:action="@{/admin/updateEmployee}" method="post">
                        <input type="hidden" class="form-control" th:field="*{employee_id}"/>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" th:field="*{name}" id="name"/><br>
                        </div>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" th:field="*{username}" id="username"/><br>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" th:field="*{password}" id="password"/><br>
                        </div>
                        <div class="form-group">
                            <label for="rol_type">Role Type:</label>
                            <select th:field="*{role.role_id}" class="form-control">
                                <option th:each="roleOption : ${allRoles}" th:text="${roleOption.name_role}" th:value="${roleOption.role_id}"></option>
                            </select><br>
                        </div>
                        <div class="form-group">
                            <label for="job_type">Job Type:</label>
                            <select th:field="*{job.job_id}" class="form-control">
                                <option th:each="jobOption : ${allJobs}" th:text="${jobOption.job_type}" th:value="${jobOption.job_id}"></option>
                            </select><br>
                        </div>
                        <div class="form-group">
                            <label for="group_type">Group:</label>
                            <select th:field="*{group.group_id}" class="form-control">
                                <option th:each="groupOption : ${allGroups}" th:text="${groupOption.name}" th:value="${groupOption.group_id}"></option>
                            </select><br>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="submit" class="btn btn-warning form-control"  value="Update"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="./fragments/footer :: footer"></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
