<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Employee Tasks</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>
        <style>
            #example_wrapper{
                margin: 50px;
            }
        </style>
    </head>
    <body>
        <header th:replace="./fragments/headerEmployee :: header"></header>
        <h1 style=" margin-left: 50px">Employee Tasks</h1>
        <br>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Task Start</th>
                    <th>Task End</th>
                    <th>Status</th>
                    <th>Leader</th>
                    <th>Group</th>
                    <th>STATUS</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${allTask}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.title}"></td>
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.taskStart}"></td>
                    <td th:text="${task.taskEnd}"></td>
                    <td th:text="${task.status.name_status}"></td>
                    <td th:text="${task.employee.name}"></td>             
                    <td th:text="${task.group.name}"></td>
                    <td>
                        <a class="btn btn-outline-warning" th:href="@{/employee/updateTaskStatusEmployee/{id}(id=${task.id},statusId=1)}" th:text="PENDING"></a>  
                        <a class="btn btn-outline-success" th:href="@{/employee/updateTaskStatusEmployee/{id}(id=${task.id},statusId=2)}" th:text="SOLVED"></a>                                   
                        <a class="btn btn-outline-danger" th:href="@{/employee/updateTaskStatusEmployee/{id}(id=${task.id},statusId=3)} "th:text="FAILED"></a>
                    </td>
                    <td>
                        <a class="btn btn-info" th:href="@{/employee/seeTaskEmployee/{id}(id=${task.id})}" th:text="SEE" ></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <footer th:replace="./fragments/footer :: footer"></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
